* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    margin-top: 32px;
    height: 120px;
}

header div{
    margin: auto;
    width: 120px;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    animation: fromTop .7s 0.1s backwards;

}


header img {
    width: 100%;
    border-radius: 50%;
    transition: transform .3s;
}

header img:hover{
    transform: scale(1.2);
}


body {
    background-image: url(imagens/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 360px;
    width: 90%;
    margin: 32px auto;
}

section {
    color: #ffffff;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    padding-top: 4px;
    border-radius: 10px;
    animation: fromBottom .7s backwards ;
}

section:nth-child(2){
    animation-delay: .3s;
}
section:nth-child(3){
    animation-delay: .6s;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    color: #a1a1aa;
}

section ul {
    display: flex;
    flex-wrap:  nowrap;
    gap: 16px;
    margin-top: 24px;
}

ul li{
    transition: transform .3s;
}

ul li:hover{
    transform: scale(1.2);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid rebeccapurple;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: white;
    background:  #2a2634;
    width: 100%;
}

footer a {
    color: #9572fc;
}

/* Animation */

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* swiper */
section{
    overflow: hidden;
}

section ul{
    gap: 1px;
}